.card {
    width: 600px;
}

.london-image {
    background-image: url("./card_image.jpeg");
    background-size: cover;
    /* background-color: aqua; */
    width: 600px;
    height: 500px;
    
    display: flex;
    justify-content: end;
    color: white;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-top:  30px;
    margin-bottom: 30px;
}